<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="post">
        <label class="sr-only" for="room-id">Código da sala</label>
        <input type="password" id="room-id" name="password" placeholder="Insira uma senha">
        <button type="submit">
            <img src="images/users-pass.svg" alt="Icone de entrar" />
            Criar sala
        </button>
    </form>
</section>