<section>
    <h2>Entre como participante</h2>
    <form action="/enter-room" method="post">
        <label class="sr-only" for="room">Código da sala</label>
        <input type="number" id="room" name="room" placeholder="Informe o código da sala" required>
        <button type="submit">
            <img src="images/enter-room.svg" alt="Icone de entrar" />
            Entrar na sala
        </button>
        <% if (erro && erro.length> 0) { %>
            <% erro.forEach(msg=> { %>
                <div class="alert-danger">
                    <%= msg %>
                </div>
            <% }) %>
        <% } %>
    </form>
</section>
<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>
<section>
    <h2>Crie sua própria sala, de forma facíl</h2>
    <a href="/create-pass" class="button button-create-room">
        <img src="images/users.svg" alt="Icone usuarios" />
        Criar sala
    </a>
</section>