<div class="question-message">
    <img src="/images/icon-questions.svg" alt="Icone de mensagens">
    <h3>Nehuma pergunta por aqui...</h3>
    <p>
        Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!
    </p>
</div>